@model IEnumerable<INVEOS.Models.Supplier>

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Lista de Proveedores</h4>
                        @*<p class="mb-0">
                            Create and manage your vendor list, send and receive purchase orders – your online<br>
                            Dashboard is your new back of house.
                        </p>*@
                    </div>
                    <a href="page-add-supplier.html" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Supplier</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                    <table class="data-table table mb-0 tbl-server-info">
                        <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                @*<th>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" id="checkbox1">
                                        <label for="checkbox1" class="mb-0"></label>
                                    </div>
                                </th>*@
                                <th>Empresa</th>
                                <th>Correo</th>
                                <th>Télefono</th>
                                <th>Departamento</th>
                                <th>Municipio</th>
                                <th>Zona</th>
                                <th>Dirección</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="ligth-body">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                            <div class="checkbox d-inline-block">
                                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                                <label for="checkbox2" class="mb-0"></label>
                                            </div>
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address.Municipality)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address.Zone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address.AddressDetail)
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                                   href="#"><i class="ri-eye-line mr-0"></i></a>
                                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                   href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                   href="#"><i class="ri-delete-bin-line mr-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
</div>